<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="https://github.com/hayrin/Mental-Monsters/blob/master/_includes/imageone.html">1</a></li>
    <li class="page-item"><a class="page-link" href="https://github.com/hayrin/Mental-Monsters/blob/master/_includes/imagetwo.html">2</a></li>
    <li class="page-item"><a class="page-link" href="https://github.com/hayrin/Mental-Monsters/blob/master/_includes/imagethree.html">3</a></li>
    <li class="page-item"><a class="page-link" href="https://github.com/hayrin/Mental-Monsters/blob/master/_includes/imagefour.html">4</a></li>
    <li class="page-item"><a class="page-link" href="https://github.com/hayrin/Mental-Monsters/blob/master/_includes/imagefive.html">5</a></li>
    <li class="page-item"><a class="page-link" href="https://github.com/hayrin/Mental-Monsters/blob/master/_includes/imagesix.html">6</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
